<ion-header>
        <ion-toolbar>
          <ion-title>Eliminar tema</ion-title>
        </ion-toolbar>
    </ion-header>
      
    <ion-content>
        
    <form>
        <div class="form-group">
                <input type="text" id="nombre" disabled>
        </div>
        <div class="form-group">
                <input type="number" id="materia" disabled>
        </div>
        <div class="text-left">
            <ion-button>
            Aceptar
            </ion-button>
        </div>
    </form>
        
    </ion-content>