<ion-header>
    <ion-toolbar>
      <ion-title>Editar tema</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    
<form>
    <div class="form-group">
            <input type="number" id="id" disabled>
    </div>
    <div class="form-group">
            <input type="text" id="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
            <input type="number" id="materia" placeholder="ID de la Materia">
    </div>
    <div class="text-left">
        <ion-button>
        Aceptar
        </ion-button>
    </div>
</form>
    
</ion-content>