<ion-header>
        <ion-toolbar>
          <ion-title>Temas</ion-title>
        </ion-toolbar>
    </ion-header>
      
    <ion-content>
        
          <ion-grid>
              <ion-row>
                <ion-col>Nombre</ion-col>
                <ion-col>Materia</ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
              </ion-row>
              <ion-row *ngFor="let tema of temas">
                    
                    <ion-col>{{tema.name}}</ion-col>
                    <ion-col>{{tema.subject.name}}</ion-col>
                    <ion-col><a href="#">Editar</a></ion-col>
                    <ion-col><a href="#">Eliminar</a></ion-col>
                </ion-row>
          </ion-grid>
          <ion-button>
            Nuevo
          </ion-button>
    </ion-content>