<ion-header>
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Reg&iacute;strate</h1>
              </div>
              <form [formGroup]="registroForm">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" formControlName="name" id="nombre" placeholder="Nombre">
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" formControlName="last_name" id="apeMat" placeholder="Apellido Paterno">
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" formControlName="mothers_last_name" id="apellidoMat" placeholder="Apellido Materno">
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" formControlName="matricula" id="matricula" placeholder="Matricula">
                  </div>
                </div>

                <div class="form-group">
                  <input type="email" class="form-control form-control-user" formControlName="email" id="exampleInputEmail" placeholder="Correo Electronico">
                </div>

                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" formControlName="password" id="exampleInputPassword" placeholder="Contraseña">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repetir contraseña">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <select formControlName="tipo" form="carform" class="form-control">
                      <option value="maestro">Maestro</option>
                      <option value="alumno">Alumno</option>
                      <option value="director">Director</option>
                    </select>
                  </div>
                </div>
                <ion-button type="submit" (click)="registrar() ">
                  Registrarme
                </ion-button>
                <hr>
               
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Olvide mi contraseña</a>
              </div>
              <div class="text-center">
                <a class="small" href="login.html">¡Ya tengo una cuenta! Iniciar Sesion</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

</ion-content>
